<!--

    Copyright 2011-2017 Green Energy Corp.

    Licensed to Green Energy Corp (www.greenenergycorp.com) under one or more
    contributor license agreements. See the NOTICE file distributed with this
    work for additional information regarding copyright ownership. Green Energy
    Corp licenses this file to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->


<h1 class="page-header">
    <span ng-repeat="part in nameParts">
        <span ng-if="!$last"><small>{{part}} /</small></span>
        <span ng-if="$last"><strong>{{part}}</strong></span>
    </span>
</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Data</a></li>
    <li role="presentation"><a href="#/endpointdesc?name={{name}}">Description</a></li>
</ul>

<div>

    <div class="modal fade" id="metadataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--<h4 class="modal-title" id="myModalLabel">Value for metadata: <strong>{{modalKey}}</strong></h4>-->
                    <h4 class="modal-title" id="myModalLabel">{{endpointInfo.id}}: <strong>{{modalKey}}</strong> <small>(metadata)</small></h4>
                </div>
                <div class="modal-body" style="overflow-wrap:break-word">
                    <code>{{endpointInfo.metadata[modalKey]}}</code>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>
</div>


<div>
    <div class="modal fade" id="keyValueObjectModal" tabindex="-1" role="dialog" aria-labelledby="keyValueObjectModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="keyValueObjectModalLabel">{{endpointInfo.id}} / <strong>{{modalKey}}</strong> <small></small></h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr ng-repeat="(key, value) in modalValue.jsValue">
                            <td>{{key}}</td>
                            <td style="text-align: right; overflow-wrap:break-word"><code>{{value}}</code></td>
                        </tr>
                    </table>
                    <!--<code>{{modalValue}}</code>-->
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="keyValueTextModal" tabindex="-1" role="dialog" aria-labelledby="keyValueTextModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="keyValueTextModalLabel">{{endpointInfo.id}} / <strong>{{modalKey}}</strong> <small></small></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body" style="overflow-wrap:break-word">
                        <code>{{modalValue.jsValue}}</code>
                    </div>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>
</div>


<div>
    <h3>Time Series</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right">Value</th>
                <th>Unit</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in timeSeriesArray">
                    <td>{{data.name}}</td>
                    <td style="text-align: right" ng-if="!data.db.currentValue()"> - </td>
                    <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().typedValue && data.db.currentValue().typedValue.bool != null">{{data.db.currentValue().typedValue.bool}}</td>
                    <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().typedValue && data.db.currentValue().typedValue.integer != null">{{data.db.currentValue().typedValue.integer}}</td>
                    <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().typedValue && data.db.currentValue().typedValue.decimal != null">{{data.db.currentValue().typedValue.decimal | number: 2}}</td>
                    <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().typedValue && data.db.currentValue().typedValue.string != null">{{data.db.currentValue().typedValue.string}}</td>
                    <!--<td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().displayValue">{{data.db.currentValue().displayValue}}</td>
                    <td style="text-align: right" ng-if="data.db.currentValue() && !data.db.currentValue().displayValue">{{data.db.currentValue().value}}</td>
                    <td style="text-align: right" ng-if="!data.db.currentValue()"> - </td>-->
                    <td ng-if="data.metadata && data.metadata.unit">{{data.metadata.unit}}</td>
                    <td ng-if="!data.metadata.unit || !data.metadata.unit"></td>
                    <td ng-if="data.db.currentValue()">{{data.db.currentValue().date | date:'HH:mm:ss.sss yyyy-MM-dd'}}</td>
                    <td ng-if="!data.db.currentValue()"> - </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div>
    <h3>Key Values</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in latestKeyValueArray">
                <td>{{data.name}}</td>
                <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().jsValue && valueIsComplex(data.db.currentValue().jsValue)">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keyValueObjectModal" data-key="{{data.name}}">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                </td>
                <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().jsValue && valueIsLong(data.db.currentValue().jsValue, 50)">
                    <code>{{data.db.currentValue().jsValue | limitTo: 50}}</code> ...
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keyValueTextModal" data-key="{{data.name}}">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                </td>
                <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().jsValue && !valueIsComplex(data.db.currentValue().jsValue) && !valueIsLong(data.db.currentValue().jsValue, 50)">
                    {{data.db.currentValue().jsValue}}
                </td>
                <!--<td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().jsValue && (typeof data.db.currentValue().jsValue === 'object' || (typeof data.db.currentValue().jsValue === 'string' && data.db.currentValue().jsValue.length > 30))">
                    complex!
                </td>
                <td style="text-align: right" ng-if="data.db.currentValue() && data.db.currentValue().jsValue && !(typeof data.db.currentValue().jsValue === 'object' || (typeof data.db.currentValue().jsValue === 'string' && data.db.currentValue().jsValue.length > 30))">
                    {{data.db.currentValue().jsValue}}
                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div>
    <h3>Output</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: right">Output</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in outputMap">
                <td>{{key}}</td>
                <!--<td style="text-align: right">{{value}}</td>-->
                <td ng-if="value.inputDef && value.inputDef.type === 'indication'" style="text-align: right">
                    <button type="button" class="btn btn-default" ng-click="outputs.issueIndicationOutput(key, value)">
                        <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                    </button>
                </td>
                <td ng-if="value.inputDef && value.inputDef.type === 'integer' && value.inputDef.mapping" style="text-align: right">
                    <select class="pull-right" name="singleSelect" id="singleSelect" ng-model="value.userOutput" ng-change="outputs.issueIntegerOutput(key, value)">
                        <option value="">--- select mode ---</option>
                        <option ng-repeat="map in value.inputDef.mapping" value="{{map.index}}">{{map.name}}</option>
                    </select>
                </td>
                <td ng-if="value.inputDef && value.inputDef.type === 'integer' && !value.inputDef.mapping" style="text-align: right">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control ng-pristine ng-valid ng-valid-pattern" ng-model="value.userOutput" name="setpoint_value" ng-pattern="pattern" style="width:6em;" placeholder="integer">
                        <button type="button" class="btn btn-primary" ng-click="outputs.issueIntegerOutput(key, value)" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            Set
                            <span style="padding-right: 0.5em;"> </span><i ng-class="executeClasses" class="fa fa-sign-in"></i>
                        </button>
                    </div>
                </td>
                <td ng-if="value.inputDef && value.inputDef.type === 'double'" style="text-align: right">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control ng-pristine ng-valid ng-valid-pattern" ng-model="value.userOutput" name="setpoint_value" ng-pattern="pattern" style="width:6em;" placeholder="decimal">
                        <button type="button" class="btn btn-primary" ng-click="outputs.issueDoubleOutput(key, value)" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            Set
                            <span style="padding-right: 0.5em;"> </span><i ng-class="executeClasses" class="fa fa-sign-in"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</div>
